body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    background-image: url("./assets/images/flappybirdbg.png");
}
.hidden {
    display: none;
  }
  #game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    display: none; /* Hide the message initially */
  }
  
  button {
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
  }